.App {
  text-align: center;
}
body {
  height: 100%;
   background:url('./shared/marble.jpg');
    background-attachment:fixed; 
    background-repeat: no-repeat;
   
}

 html {
  height: 100%;
}
.content {
  display: table-cell;
  vertical-align: middle;
}
.introduction {
  padding-top: 25%;
  padding-bottom: 40%;
}
#full-screen {
  min-height: 100vh;
 }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


  img{
    width: 300px;
    height: auto;
    display: block;
      margin-left: auto;
      margin-right: auto
  
  }
 
.footer {
  background-color: #4a6f9a;
  padding-top: 10px;
  padding-bottom: 10px;
    color:white;

}
.bodyContent {
  background-color: #99CED4;
}
.about {
  background-color: #4a6f9a;
  padding-bottom: 40%;
}





