.App {
  text-align: center;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.header {
background-color: #4a6f9a;
padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
  color:white;

}
.footer {
  background-color: #4a6f9a;
  padding-top: 10px;
  padding-bottom: 10px;
    color:white;

}
.bodyContent {
  background-color: #99CED4;
}

img{
  width: 300px;
  height: auto;
  display: block;
    margin-left: auto;
    margin-right: auto
  
}
.hello {
  width: 100%;
  height: 100%;
  background-color: orange;
}
