.App {
  text-align: center;
}
body {
  
  height: 100%;
   background:url('./shared/code.jpg');
   
   background-attachment:fixed; 
   
   
}

 html {
  height: 100%;
}
.content {
  display: table-cell;
  vertical-align: middle;
}
.introduction {
  
  padding-top: 25%;
  padding-bottom: 40%;
}
.myskills{
  background-color: white;
  padding-top: 5%;
  padding-bottom: 10%;
}

.myportfolio{
  
    background-color: #9a694a;
    padding-top: 5%;
    padding-bottom: 10%;
  
}

#full-screen {
  min-height: 100vh;
 }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


  
 
.footer {
  background-color: #874a9a;
  padding-top: 10px;
  padding-bottom: 10px;
    color:white;

}
.bodyContent {
  background-color: #99CED4;
}


.box{
	width:1300px;
  height:200px;
  background-color: #4a6f9a;
  opacity: 0.9;
}
 






